<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">

        <mat-toolbar-row>
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>PoC Banco Ripley</span>
            <span class="example-spacer"></span>
            <img style="text-align: right" src="http://www.serperuano.com/wp-content/uploads/2015/09/bancoripley.jpg" style="width: 150px; height: 40px; margin-right: 10px"
            />
        </mat-toolbar-row>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a (click)="snav.toggle()" mat-list-item routerLink="/ultimo.movimiento" routerLinkActive="active">
                    <mat-icon>list</mat-icon>
                    <span>Últimos Movimientos</span>
                </a>
                <a (click)="snav.toggle()" mat-list-item routerLink="/orden.compra" routerLinkActive="active">
                    <mat-icon> add_shopping_cart</mat-icon>
                    <span>Orden de Compra</span>
                </a>
                <a (click)="logout(); snav.toggle();" mat-list-item>
                    <mat-icon> input</mat-icon>
                    <span>Cerrar sesión</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content style="background-color: #dedee8">
            <p>
                <router-outlet></router-outlet>
            </p>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>



<!-- Routed views go here -->
