<mat-card class="movements-shopping">
  <mat-card-header>
    <mat-card-title>Últimos Movimientos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form autocomplete="off" [formGroup]="filterFormGroup">
      <mat-form-field >
        <input matInput value="Usuario: {{user}}" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput value="Canal: {{channel}}" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput value="DNI: {{dni}}" disabled>
      </mat-form-field>
      <mat-form-field>
          <input matInput [matDatepicker]="dp3" placeholder="Date" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Cuentas Disponibles" formControlName="account" required>
          <mat-option *ngFor="let account of accounts" [value]="account">
            {{account.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Celular" formControlName="phone">
      </mat-form-field>


    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="filterMovements()">
      <mat-icon aria-label="filter movements">search</mat-icon>
      Buscar
    </button>
  </mat-card-actions>
</mat-card>
<br/>
<mat-card class="movements-shopping">
  <mat-card-content>

    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
        <mat-cell *matCellDef="let movement"> {{movement.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Fecha">
        <mat-header-cell *matHeaderCellDef> Fecha</mat-header-cell>
        <mat-cell *matCellDef="let movement"> {{movement.date}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Hora">
        <mat-header-cell *matHeaderCellDef> Hora</mat-header-cell>
        <mat-cell *matCellDef="let movement"> {{movement.hour}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Monto">
        <mat-header-cell *matHeaderCellDef> Monto</mat-header-cell>
        <mat-cell *matCellDef="let movement"> {{movement.amount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Moneda">
        <mat-header-cell *matHeaderCellDef> Moneda</mat-header-cell>
        <mat-cell *matCellDef="let movement"> {{movement.currency}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  </mat-card-content>
</mat-card>
<br/>
<mat-card class="movements-shopping">
  <mat-card-content>
    <mat-nav-list>
      <div *ngFor="let message of messages">
        <p [innerHtml]="message"></p>
      </div>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
