.container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  }
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .container-input{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin: auto;
    width: 800px;
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .container > * {
    width: 90%;
  }

  .grid{
    width: 800px;
    margin: auto;
  }

  .movements-shopping{
    min-width: 400px;
    margin: 0 10px;
}
