<mat-card>
    <mat-card-header>
        <mat-card-title>Bienvenido a PoC Ripley</mat-card-title>
    </mat-card-header>
    <mat-card-actions align="start">
        <button mat-raised-button color="primary" (click)="onAction1">Inicio sesión</button>
    </mat-card-actions>

</mat-card>