<mat-card class="login-card" style="margin: auto;
width: 500px;">
    <mat-card-header>
        <mat-card-title>Autentificación</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form autocomplete="off" [formGroup]="userForm">
            <mat-form-field>
                <input matInput placeholder="Usuario" formControlName="account" input="text">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Clave" formControlName="password" [type]="hide ? 'text' : 'password'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="DNI" formControlName="dni" input="text">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Canales Disponibles" formControlName="channel" required>
                    <mat-option *ngFor="let canal of canals" [value]="canal">
                        {{canal.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="login()">Login</button>
        </div>
    </mat-card-actions>
</mat-card>
