.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .container > * {
    width: 100%;
    margin: auto;
  }
  
  .card-shopping{
      min-width: 300px;
      margin: 0 10px;
  }

 .form{
  display: flex;
  flex-direction: column;
 }

 .form >* {
  width: 100%;
 }