<mat-card class="card-shopping">
  <mat-card-header>
    <mat-card-title>Orden de Compra</mat-card-title>
  </mat-card-header>
  <mat-card-content class="form">
    <form autocomplete="off" [formGroup]="formShopping">
      <div class="row">
        <mat-form-field style="width: 230px;">
          <input matInput value="Usuario: {{user}}" disabled>
        </mat-form-field>
        <mat-form-field>
          <input matInput value="DNI: {{dni}}" disabled>
        </mat-form-field>
        <mat-form-field>
          <input matInput value="Canal: {{channel}}" disabled>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Productos Disponibles" formControlName="product" required>
            <mat-option *ngFor="let product of products" [value]="product">
              {{product.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Cuentas Disponibles" formControlName="account" required>
            <mat-option *ngFor="let account of accounts" [value]="account">
              {{account.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Cantidad" type="number" min="1" size="1" formControlName="quantity">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" type="email" formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Dirección" formControlName="address">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="OTP" formControlName="otp">
        </mat-form-field>
      </div>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="verifyStock()">Verificar Stock</button>
      <button mat-raised-button color="primary" (click)="reserveStock()" disabled="{{isReserveStock}}">Reservar Stock
      </button>
      <button mat-raised-button color="primary" (click)="validateOtp()" disabled="{{isGenerateOc}}">Generar O.C</button>
    </div>

  </mat-card-actions>
</mat-card>
<br/>
<mat-card class="card-shopping">
  <mat-card-content>
    <mat-nav-list>
      <div *ngFor="let message of messages">
        <p [innerHtml]="message"></p>
      </div>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
<br/>
<div *ngIf="isDetail">
  <mat-card class="card-shopping">
    <mat-card-header>
      <mat-card-title>Resumen de compra</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Código de compra:
        <span> {{purchaseOrder.ordenCompra.code}}</span>
      </p>
      <p>
        Código de reserva:
        <span> {{purchaseOrder.ordenCompra.reservationCode}}</span>
      </p>
      <p>
        Cuenta:
        <span> {{purchaseOrder.ordenCompra.account}}</span>
      </p>
      <p>
        Dirección de entrega:
        <span> {{purchaseOrder.address}}</span>
      </p>
      <p>
        Local de compra:
        <span> {{purchaseOrder.ordenCompra.local.name}}</span>
        <span> ({{purchaseOrder.ordenCompra.local.address}})</span>
      </p>
      <div>
        Detalle de producto:
        <ul>
          <li>
            <span>Producto: {{purchaseOrder.ordenCompra.product.name}}</span>
          </li>
          <li>
            <span>Cantidad: {{purchaseOrder.ordenCompra.requestQuantity}}</span>
          </li>
          <li>
            <span>Precio: {{purchaseOrder.ordenCompra.product.currency}} {{purchaseOrder.ordenCompra.product.amount}}</span>
          </li>
        </ul>
      </div>
      <p>
        <span>==========================</span>
      </p>
      <p>
        Total:
        <span>{{purchaseOrder.ordenCompra.product.currency}} {{purchaseOrder.ordenCompra.amount}}</span>
      </p>
    </mat-card-content>
  </mat-card>
</div>